body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #0d0d0d; /* Slightly darker background for better contrast */
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

#dusk-logo {
    position: absolute;
    width: 150px; /* Adjust as needed */
    height: auto;
    z-index: 1000; /* Ensures logo is above other content */
    top: 50%; /* Center the logo vertically */
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%); /* Center the logo exactly */
}

